/* #region Reset */
/* This is from Kevin Powell, edit to your liking */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  /* max-width: 55ch; */
}

/* for container queries, landmarks as containers */
body > :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* #endregion END OF RESET */

/* #region Theme */

:root {
  /* color definitions */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-neutral-100-transparent: hsla(0, 0%, 100%, 0.123);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  /* font weights definitions */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* Font sizes definitions */
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  /*** Theme setup ***/

  /* font family */
  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  /* theme color assignments */
  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);

  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  /* Font weights assignments */
  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  /* Border shadow */
  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* Spacing */
  --spacing-base: 1rem;

  --flow-space: 1.75em;
  --flow-space-lg: 4em;
}
/* #endregion END OF THEME */

/* #region Global/base */
h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h1,
h2 {
  font-size: clamp(1rem, 2vw + 1rem, 2rem);
}

h3 {
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
  font-weight: var(--fw-semi-bold);
}

p {
  font-size: clamp(0.5rem, 1vw + 0.5rem, 1rem);
}

a {
  text-decoration: none;
  color: var(--clr-accent);
  transition: all 0.2s;

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
  grid-template-rows: auto 1fr auto;
}

/* #endregion END OF GLOBAL/BASE */

/* #region Composition */
.flow > * + * {
  margin-block-start: var(--flow-space);
}

.flow-lg > * + * {
  margin-block-start: var(--flow-space-lg);
}

.flow-lg-grandchildren > * > * + * {
  margin-block-start: var(--flow-space-lg);
}

/*
See these for more info:
https://www.youtube.com/watch?v=c13gpBrnGEw
https://www.youtube.com/watch?v=cf-J4ffMBfo
*/
.content-grid,
.fullwidth {
  --_content-width: 70rem;
  --_min-margin-width: 1rem;

  display: grid;
  grid-template-columns:
    [fullwidth-start] minmax(var(--_min-margin-width), 1fr) [content-start] min(
      100% - var(--_min-margin-width) * 2,
      var(--_content-width)
    )
    [content-end] minmax(var(--_min-margin-width), 1fr) [fullwidth-end];
  /*  grid-template-rows: [fullwidth-start] auto [fullwidth-end];*/
}

/* keep the content of the content-grid and fullwidth inside the content container */
.content-grid > *,
.fullwidth > * {
  grid-column: content;
}

/* a bit more complex but more fancy/explicit version of above */
/*.content-grid > :not(.fullwidth),
.fullwidth > :not(.fullwidth) {
  grid-column: content;
}*/

/* if we have a fullwidth inside of a content-grid put this in the fullwidth container */
.content-grid > .fullwidth {
  grid-column: fullwidth;
}

/* #endregion END OF COMPOSITION */

/* #region HEADER */
.header {
  background-color: var(--clr-neutral-100);

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  > a {
    display: flex;
    grid-column: 1;
  }

  .logo-wrapper {
    padding-block-start: 0.2rem;
    display: flex;
    text-decoration: none;

    .logo-text {
      font-size: 2cqh;
      align-self: center;
      font-weight: var(--fw-600);
      margin-inline-start: 0.5rem;
    }
  }
  svg {
    width: 55px;
    height: 55px;
  }
  svg > g {
    stroke: var(--clr-accent);
  }
  nav {
    height: 100%;
    > ul > li {
      height: 100%;
      margin: 0;
      display: inline-flex;
      flex-direction: row;
      > a {
        display: inline-flex;
        align-items: center;
        height: 100%;
        align-self: center;
        padding-inline: 1rem;
        text-decoration: none;

        &:hover {
          background-color: var(--clr-accent);
          color: var(--clr-neutral-100);
        }
      }
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style-type: none;
  color: black;
}
nav ul li {
  display: inline-flex;
  margin: 0.3em 1em;
}
nav label {
  font-size: 0;
  user-select: none;
}
nav input[type="checkbox"],
nav label {
  display: none;
}

/* #endregion END OF HEADER */

/* #region MAIN */

.main__header {
  text-align: center;
  > h1 {
    font-size: clamp(1rem, 2vw + 1rem, 4rem);
  }
  > p {
    font-size: clamp(0.5rem, 1vw + 0.5rem, 1rem);
  }
}

.hero-gallery {
  background-color: var(--clr-neutral-100);
  box-shadow: 0 0 5px grey;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  justify-self: center;
}

aside:has(> .newsletter-signup) {
  background-color: var(--clr-neutral-100);
}
.newsletter-signup,
.previous-plants {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 1rem;
}

.svg-wrapper {
  background-color: var(--clr-accent);
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
  padding: 1rem;

  > svg {
    padding: 2.5rem;
  }
}
.news-calltoaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  > h2 {
    margin-block-end: 1rem;
  }
}

.news-signup-form {
  width: 100%;
  width: 18rem;
  position: relative;

  > input {
    background-color: var(--clr-neutral-100);
    color: black;
    border: 1px solid black;
    border-radius: 10rem;
    width: 100%;
    padding: 0.5rem;
  }
  /* Background-color autocomplete fix for chrome http://stackoverflow.com/questions/2338102/override-browser-form-filling-and-input-highlighting-with-html-css */
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px var(--clr-neutral-100) inset; /* Change the color to your own background color */
    -webkit-text-fill-color: var(--clr-neutral-900);
  }
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px var(--clr-neutral-100) inset; /*your box-shadow*/
    -webkit-text-fill-color: var(--clr-neutral-900);
  }

  > button {
    cursor: pointer;
    background-color: var(--clr-accent);
    color: var(--clr-neutral-100);
    border-radius: 1rem;
    border: none;
    padding-inline: 0.5rem;
    position: absolute;
    right: 4px;
    top: 0;
    bottom: 0;
    height: 85%;
    margin: auto 0;
  }
}

/* #region PLANT-GALLERY (IN MAIN)*/

.plant-gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));

  > h2 {
    grid-column: 1/-1;
    justify-self: center;
  }
  > a {
    text-decoration: none;
    color: black;
    transition: all 0.5s;
    box-sizing: border-box;
    &:hover {
      box-shadow: 0 0 5px black;
    }
  }
}
.plant-card {
  display: grid;
  background-color: var(--clr-neutral-100);
  box-shadow: 0 0 2px grey;
  height: 100%;
  grid-template-rows: subgrid;

  .plant-img-wrapper {
    position: relative;
    grid-row: 1;
  }

  .plant-img {
    object-fit: cover;
    width: 100%;
  }
  .plant-watermark {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 50%;
    width: 50%;
    > :nth-child(-n + 2) {
      fill: var(--clr-neutral-100-transparent);
    }
    > :nth-child(n - 2) {
      stroke: var(--clr-neutral-100-transparent);
    }
  }
  .plant-name {
    grid-row: 2;
  }
  .plant-tag-region {
    grid-row: 3;
    align-items: start;
  }
  .plant-description {
    grid-row: 4;
  }
  .plant-byline {
    grid-row: 5;
  }
}

.plant-card > *:not(.plant-img-wrapper) {
  padding: 0.5rem;
}

.plant-tag-region {
  display: flex;
  flex-wrap: wrap;
  order: -1;
}

.plant-tag {
  max-height: fit-content;
  font-size: clamp(var(--fs-100), var(--fs-200), var(--fs-400));
  margin-inline-end: 0.25rem;
  margin-block: 0.1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  color: var(--clr-neutral-100);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  letter-spacing: 0.1cap;
  user-select: none;
}
.plant-byline {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  img {
    border-radius: 100%;
  }

  p {
    display: block;
  }

  .plant-author {
    font-size: clamp(var(--fs-300), 10vw + var(--fs-500), var(--fs-600));
    font-weight: var(--fw-600);
    color: var(--clr-green-400);
  }

  .plant-auth-date {
    font-size: clamp(var(--fs-100), var(--fs-200), var(--fs-400));
  }
}
/* #endregion END OF PLANTGALLERY (IN MAIN) */

aside:has(> .previous-plants) {
  background-color: var(--clr-neutral-100);
}
.previous-plants {
  > div > a {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    background-color: var(--clr-accent);
    color: var(--clr-neutral-100);
    padding: 1rem 0.5rem;
  }
}
/* #endregion END OF MAIN */

/* #region FOOTER */

.footer {
  padding-block-start: 1rem;

  background-color: var(--clr-green-800);
  color: var(--clr-neutral-200);
  a {
    color: var(--clr-neutral-200);
  }

  .footer-about {
    > p {
      display: flex;
      align-items: center;
      > a {
        margin-inline-start: 0.5rem;
      }
    }
  }
  > div > nav {
    margin-block: 1rem;
  }
  ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    > li {
      margin: 0;
    }
  }
}

/*#endregion END OF FOOTER */

/* #region MEDIA QUERIES */
/* for TABLETS */
@media (width > 576px) and (width < 768px) {
  .hero-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  .newsletter-signup {
    flex-direction: row-reverse;
    justify-content: center;
  }
  .news-calltoaction {
    width: min-content;
    margin-inline-end: 3rem;
  }

  .previous-plants {
    flex-direction: row;
    justify-content: center;

    > .previous-plants__desc {
      display: flex;
      flex-direction: column;
      width: 40%;
      margin-inline-start: 3rem;
      text-align: start;
      > a {
        justify-self: flex-end;
        align-self: flex-end;
      }
    }
  }
}
/* for DESKTOP */
@media (width > 768px) {
  .hero-gallery {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    :nth-child(1) {
      grid-column: 1/3;
      grid-row: 1/3;
    }
    :nth-child(2) {
      grid-column: 3;
    }
    :nth-child(3) {
      grid-column: 4;
    }
    :nth-child(4) {
      grid-column: 5/7;
    }
    :nth-child(5) {
      grid-column: 3/5;
    }
    :nth-child(6) {
      grid-column: 5/7;
    }
  }
  .newsletter-signup {
    flex-direction: row-reverse;
    justify-content: center;
  }
  .news-calltoaction {
    width: min-content;
    margin-inline-end: 3rem;
  }

  .previous-plants {
    flex-direction: row;
    justify-content: center;

    > .previous-plants__desc {
      display: flex;
      flex-direction: column;
      width: 40%;
      margin-inline-start: 3rem;
      text-align: start;
      > a {
        justify-self: flex-end;
        align-self: flex-end;
      }
    }
  }
  .footer {
    > div {
      display: flex;
      justify-content: space-between;
    }
    a {
      font-weight: var(--fw-700);
    }
    .footer-about {
      width: 40%;
      margin-block-end: 2rem;
    }
    nav > ul {
      display: flex;
      flex-direction: column;
    }
  }
}
/* for MOBILE */
@media (max-width: 576px) {
  /* Hamburger menu and nav styles

  (hamburger menu med hjälp av av How to make a css-only hamburger menu by Alberto de Murga)
  https://threkk.medium.com/how-to-make-a-css-only-hamburger-menu-f7ad41e13399 */

  nav {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }
  nav ul {
    display: block;
  }
  nav ul li {
    margin-bottom: 0;
    width: 100%;
    text-align: right;
    padding: 0.5em;
  }
  input[type="checkbox"]:not(:checked) + ul {
    display: none;
  }
  nav label {
    text-align: right;
    display: block;
    padding: 0.5em;
    line-height: 1.6em;
    align-self: center;
  }
  /**/
  nav {
    position: relative;
  }
  input[type="checkbox"]:checked + ul {
    background-color: var(--clr-neutral-100);
    position: absolute;
    top: 100%;
    right: -1rem;
    width: fit-content;
    height: fit-content;

    > li {
      padding-block: 1rem;
    }
  }
}

/* #endregion END OF MEDIA QUERIES */

/* #region Utilities */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.plant-tag__colorful {
  background-color: var(--clr-colorful);
}

.plant-tag__decorative {
  background-color: var(--clr-decorative);
}

.plant-tag__durable {
  background-color: var(--clr-robust);
}

.plant-tag__edible {
  background-color: var(--clr-edible);
}

.plant-tag__ezgrow {
  background-color: var(--clr-easy);
}

.plant-tag__fastgrow {
  background-color: var(--clr-fast);
}

.plant-tag__flowers {
  background-color: var(--clr-flower);
}

.plant-tag__green {
  background-color: var(--clr-green);
}

.plant-tag__moisturiser {
  background-color: var(--clr-air);
}

.plant-tag__sunlover {
  background-color: var(--clr-sunloving);
}

/* .bg-red {
  background-color: red;
} */

/* #endregion END OF UTILITIES */
