/*** Reset ***/
/* This is from Kevin Powell, edit to your liking */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  /* max-width: 55ch; */
}

/* for container queries, landmarks as containers */
body> :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*** Theme ***/

:root {
  /* color definitions */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  /* font weights definitions */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* Font sizes definitions */
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;


  /*** Theme setup ***/

  /* font family */
  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  /* theme color assignments */
  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);

  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  /* Font weights assignments */
  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  /* Border shadow */
  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* Spacing */
  --spacing-base: 1rem;

  --flow-space: 1.75em;
  --flow-space-lg: 4em;
}

/*** Global/base ***/
h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h1,
h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);
  transition: all .2s;

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
  grid-template-rows: auto 1fr auto;
}


/*** Composition ***/
.flow>*+* {
  margin-block-start: var(--flow-space);
}

.flow-lg>*+* {
  margin-block-start: var(--flow-space-lg);
}

.flow-lg-grandchildren>*>*+* {
  margin-block-start: var(--flow-space-lg);
}

/*
See these for more info:
https://www.youtube.com/watch?v=c13gpBrnGEw
https://www.youtube.com/watch?v=cf-J4ffMBfo
*/
.content-grid,
.fullwidth {
  --_content-width: 70rem;
  --_min-margin-width: 1rem;

  display: grid;
  grid-template-columns: [fullwidth-start] minmax(var(--_min-margin-width), 1fr) [content-start] min(100% - var(--_min-margin-width) * 2,
      var(--_content-width)) [content-end] minmax(var(--_min-margin-width), 1fr) [fullwidth-end];
  /*  grid-template-rows: [fullwidth-start] auto [fullwidth-end];*/
}

/* keep the content of the content-grid and fullwidth inside the content container */
.content-grid>*,
.fullwidth>* {
  grid-column: content;
}

/* a bit more complex but more fancy/explicit version of above */
/*.content-grid > :not(.fullwidth),
.fullwidth > :not(.fullwidth) {
  grid-column: content;
}*/

/* if we have a fullwidth inside of a content-grid put this in the fullwidth container */
.content-grid>.fullwidth {
  grid-column: fullwidth;
}

.header {
  >div {

    display: flex;
    justify-content: space-between;
  }
}

.header__nav {
  height: stretch;

  ul {
    display: flex;

    a {

      margin: 0;
      height: stretch;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5rem;

      &:hover {
        background-color: var(--clr-accent);

        text-decoration: none;
        color: var(--clr-neutral-100);

      }
    }
  }
}


.logo-wrapper {
  display: flex;
  align-items: center;

  >svg {
    min-width: 113px;
    min-height: 110px;
  }

  &:hover {
    text-decoration: none;
  }
}

.logo-text {
  font-weight: var(--fw-500);
  font-size: var(--fs-800);
  text-transform: uppercase;
  line-height: 1.1cap;
}



.newsletter-signup {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-around;
  padding-block: 2rem;

  h2 {
    margin-inline-end: 2rem;
    margin-block-end: 1rem;
  }
}

.news-calltoaction {
  width: clamp(22rem, 1vw + 22rem, 25rem);
  margin-inline-end: 2rem;
  margin-block-end: 1rem;

  h2 {
    width: 100%;
  }
}

.news-input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;

  input {
    background-color: var(--clr-neutral-100);
    padding: .5rem;
    border-radius: 1rem;
    width: 100%;
  }

  button {
    cursor: pointer;
    border-radius: .75rem;
    padding: .2rem .5rem;
    position: absolute;
    top: .25rem;
    right: .25rem;
    background-color: var(--clr-accent);
  }
}

.news-svg {
  background-color: var(--clr-accent);
  padding: 1rem;
  border-radius: 100%;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  height: 250px;
  width: 250px;
  margin-block: 2rem;
}

.plant-gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(42ch, 1fr));
}

.plant-gallery>h2 {
  grid-column: 1/-1;

}

.logo {
  stroke: var(--clr-accent);
}

.plant-card {
  display: grid;
  background-color: var(--clr-neutral-100);
  grid-template-columns: subgrid;
}

.plant-byline {
  display: flex;
  justify-content: space-between;
}

.plant-card>*:not(img) {
  padding: 1rem;
}

.plant-img {
  order: -2;
  object-fit: cover;
  width: 100%;
}

.plant-tag-region {
  display: flex;
  flex-wrap: wrap;
  order: -1;
}

.plant-tag {
  margin-inline-end: .25rem;
  margin-block: .1rem;
  padding: .2rem .5rem;
  border-radius: 1rem;
  color: var(--clr-neutral-100);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  letter-spacing: .1cap;
  user-select: none;
}

.plant-tag__colorful {
  background-color: var(--clr-colorful);
}

.plant-tag__decorative {
  background-color: var(--clr-decorative);
}

.plant-tag__durable {
  background-color: var(--clr-robust);
}

.plant-tag__edible {
  background-color: var(--clr-edible);
}

.plant-tag__ezgrow {
  background-color: var(--clr-easy);
}

.plant-tag__fastgrow {
  background-color: var(--clr-fast);
}

.plant-tag__flowers {
  background-color: var(--clr-flower);
}

.plant-tag__green {
  background-color: var(--clr-green);
}

.plant-tag__moisturiser {
  background-color: var(--clr-air);
}

.plant-tag__sunlover {
  background-color: var(--clr-sunloving);
}

.plant-byline {

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  img {
    border-radius: 100%;
  }

  p {
    display: block;
  }

  .plant-author {
    font-size: var(--fs-600);
    font-weight: var(--fw-600);
    color: var(--clr-green-400);
  }
}

.previous-plants {
  >div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;


    >svg {
      background-color: var(--clr-accent);
      padding: 1rem;
      border-radius: 100%;
      aspect-ratio: 1/1;
      min-height: 250px;
      min-width: 250px;
      margin-block: 2rem;
    }

    >div {
      margin-inline-start: 1rem;
      display: flex;
      flex-direction: column;

      *+* {
        margin-block-start: 1rem;
      }

      a {
        cursor: pointer;
        justify-self: flex-end;
        align-self: flex-end;

        padding: 1rem;
        border-radius: 2rem;
        background-color: var(--clr-accent);
        color: var(--clr-neutral-100);
        transition: all .2s;

        &:hover {
          background-color: hsl(from var(--clr-accent) h 50 l);
        }
      }
    }
  }
}

footer {
  padding-block: 2rem;

  nav>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  a {
    color: var(--clr-neutral-100);
  }
}


.footer-about {
  margin-inline-end: 30vw;
}

/*** Utilities ***/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.bg-red {
  background-color: red;
}

.width-50 {
  width: 50%;
}

.margin-wrapper {
  margin-inline: 20vw;
}

.margin-wrapper-extra {
  margin-inline: 30vw;
}

.margin-block-1rem {
  margin-block: 1rem;
}

.margin-child-block-1rem {
  * {
    margin-block: 1rem;
  }
}

.margin-child {
  * {
    margin-inline: .5rem;
  }
}

.padding-block-1rem {
  padding-block: 1rem;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.clr-primary-light-1 {
  background-color: var(--clr-primary-light-1);
}

.clr-primary-light-2 {
  background-color: var(--clr-primary-light-2);
}

.clr-font-neutral {
  color: var(--clr-neutral-100)
}

.clr-accent {
  background-color: var(--clr-accent);
}